html,body{
	margin:0;
	padding:0;
	height:100%;
}

.custom-container{
	height:100%;
	overflow:hidden;
}
.plot{
	height:100%;
	float:left;
}
	.summary{
		width: 40%;
	}
	.program{
		width: 60%;
	}
.control{
	position:absolute;
	width:100%;
	height:60px;
	top:0;
	background:rgb(240,240,240);
	border-bottom:1px solid rgb(200,200,200);
	line-height:60px;
}

/* Axis */
.axis .domain{
	fill:none;
}
.axis .tick line{
	fill:none;
	stroke:rgb(200,200,200);
	stroke-dasharray:3px 3px;
}

/* plot */
.program:hover .over{
	stroke-width:6px;
}